body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 126px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.left-header {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 600;
}

.right-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    gap: 4vh;
}

.header-links {
    color: #E5E7EB;
}

.main {
    flex: 1;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 108px 126px;    
    box-sizing: border-box;
    gap: 12vh;
}

.hero-left,.hero-right{
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-top: -48px;
    margin-bottom: -48px;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.button-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 108px;
    border-radius: 8px;
}

.button {
    color: #E5E7EB;
    font-weight: 600;
}

.hero-right {
    background-color:#808590;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    color:#E5E7EB
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 24px;
}

.info-cards-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-cards {
    max-width: 200px;
} 

.image-subtext {
    font-size: 18px;
    text-align: center;
}

.info-img {
    outline: #3882F6 solid 4px;
    height: 200px;
    border-radius: 16px;
}

.test {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    box-sizing: border-box;
    margin-top: 96px;
    padding: 250px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
}

.cta {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
}

.cta-content {
    padding: 24px 192px;
    display: flex;
    gap: 12vh;
}

.cta-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    margin-bottom: -36px;
}

.cta-right {
    align-self: center;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button2 {
    color: #F9FAF8;
    outline: #F9FAF8 2px solid;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 700;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
}